<div class="elementos-de-edicion">
  <div class="agregarArticulos">

    <h2>Administra tus tiendas</h2>

    <a routerLink="add-shop"> <i class="bi bi-database-add"></i> Agregar tienda</a>
    <a routerLink="add-item"> <i class="bi bi-database-add"></i> Agregar producto</a>
    <div>

      @for (tienda of tiendas; track $index) {
        <app-product-list [tienda]="tienda" ></app-product-list>
      } @empty {
        <div>
          <h4>Crea tu tienda ahora</h4>
          <a routerLink="/dashboard/owner/create/store">Ir a crear mi tienda</a>
        </div>
      }

      <!-- articulos -->
      <section>
        <div class="grid">

        </div>
      </section>
    </div>
  </div>

</div>