.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 34px;
    color: #000c7c;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    color: #ffffff;
    background-color: #000c7c;
    max-width: 300px;
    width: 280px;
    flex-wrap: nowrap;
    border: none;
    height: 30px;
    border-radius: 20px / 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.button:hover{
    transform: scale(1.10);
    background-color: rgb(57, 76, 247);
}