<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @for (field of fields; track $index) {
    <label [for]="field.name">{{ field.label }}</label>
    @switch (field.tipoCampo) {
      @case ('input') {
        <input [type]="field.attributes?.['type']" 
               [formControlName]="field.name"
               [attr.placeholder]="field.attributes?.['placeholder'] || field.name"
        >
      }
      @case ('select') {
        <select  [formControlName]="field.name"
        >
   
        <option value="" disabled selected>{{ field.attributes?.['placeholder'] || 'Seleccione una opción' }}</option>
          @for (option of field.options; track $index) {
            <option [value]="option.value">
              {{ option.label }}
            </option>
          }
        </select>
      }
      @case ('textarea') {
        <br>
        <textarea [formControlName]="field.name"
          [attr.placeholder]="field.attributes?.['placeholder'] || field.name"
          [attr.rows]="field.attributes?.['rows'] || 10"
          [attr.cols]="field.attributes?.['cols'] || 10"
        ></textarea>
      }
    }
    <br>

    @if (form.get(field.name)?.invalid && form.get(field.name)?.touched) {
      <div>
        <small>
          {{ getValidatorMessage(field.name) }}
        </small>
      </div>
    }
  }
  <button>Guardar</button>
</form>
