header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 5%;
    background: #fff;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

header .logo img {
    height: 60px;
}
.header-left{
    display: flex;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 0.5em 1em;
    display: block;
    white-space: nowrap;
}

nav ul li .register {
    color:#ffffff;
    background-color:#ff9900 ;
    border-radius: 10%;
    padding: 10px;
}

/* Barra de búsqueda */
.search{
    justify-self: flex-start;
}
.search-bar {
    text-align: center;
    padding: 20px;
    background: hsl(0, 0%, 100%);
}

.search-bar input {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    width: 300px;
    background-color: #ececec;
    box-sizing: border-box;
}

/* Estilo del menú "hamburguesa" */
.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    header {
        align-items: space-between;
    }

    .header-left {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .header-right{
        margin-left: 10px;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        padding: 10px;
        width: 100%;
    }

    .search-bar {
        width: 100%;
    }

    .search-bar input {
        width: calc(100% - 20px);
    }

    .menu-toggle {
        display: block;
    }
}