<div class="ventas">
  <div class="title-main">
    <h1>Administrar Ventas</h1>
    <p>Observa las ventas que has realizado y las que están pendientes</p>
  </div>
  <div>
    <div class="encabezado">
      <h4 class="title">Ventas pendientes</h4>

    </div>
    @for (venta of noConfirmadas; track $index) {
      <app-sale-card [sale]="venta" [confirmed]="false" ></app-sale-card>
    }
    
  </div>
  <div>
    <div class="encabezado">
      <h4 class="title">Ventas finalizadas</h4>

    </div>
  
    @for (venta of confirmadas; track $index) {
      <app-sale-card [sale]="venta" [confirmed]="true" ></app-sale-card>
    }
  </div>
</div>
<br><br>
