<footer class="footer">
    <div class="container-footer">
        <div class="row">
            <div>
                <h2 class="footer-heading logo">Kios Kios</h2>
                <p class="menu">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Coments</a>
                    <a href="#">All</a>
                    <a href="#">Contact</a>
                </p>
                <ul class="ftco-footer-social ">
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Whatsapp"><fa-icon [icon]="['fab', 'whatsapp']"></fa-icon></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p>
                Kioskios 2024 | Sigue disfrutando de tus compras en KiosKios.com
            </p>
        </div>
    </div>
</footer>